@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  
}

.navbar {
  position: relative;
  z-index: 1000; /* Set a high z-index for the navbar */
}

  /* Landing Page Styles */
.background {
    background: url('../images/about1\ 1.png') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* Text color on top of the background image */
  }
  
  .text-header {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFF;
  }
  
  .text-wrapper {
    max-width: 80%;
    margin-top: 20px;
    font-size: 1.8rem;
    color: #FFF;
  }

  


  
  /* "Work With Us" Section Styles */
  .work-with-us {
    padding: 50px 0;
  }
  
 .row{
    justify-content: space-evenly;
 }

  .card2 h5 {
    color: #F58F51;
  }
  
  .btn-customers {
    background-color: #F58F51;
    color: #fff;
  }
  
  /* Container for the "Work With Us" section */
  .work-with-us-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .card2 {
    position: relative;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    margin: 20px;
    border-radius: 20px;
    transition: filter 0.3s ease-in-out;
    background: linear-gradient(180deg, #000 3.74%, #4A4A4A 100%);
}

.card2:hover {
    filter: brightness(1.2); /* Adjust brightness on hover as an example */
}

.card-title {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px; /* Adjust as needed */
}

.card-text {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px; /* Adjust as needed */
}

.container-fluid .img-fluid {
    width: 53rem;
    height: 38rem;
    flex-shrink: 0;
    border-radius: 2.3125rem 20.03125rem 3.8125rem 4.125rem;

  }

  .container-fluid-why{
    padding: 5%;
  }

  .container-fluid-why h2{
    color: #F58F51;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .container-fluid-why p{
    width: 50%;
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

.text-left h6{
    color: #F58F51;
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text-left p{
    color: #fff;
    text-align: justify;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;;
}

.text-left a { 
    color: #000;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 11px;
    background: #F58F51;
  }

.text-uppercase{
    color: #F58F51;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .list-un{
    color: #F58F51;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .list-unstyle{
    color: #F58F51;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .a{
    color: #F58F51;
  }
  .text-center{
    color: #F58F51;
  }
  .container-fluid-footer{
    background: #000;
  }


  /* Media query for smaller screens */
@media only screen and (max-width: 960px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .text-header{
        padding-top: 50px;
        font-size: 2.5rem;
    font-weight: bold;
    color: #FFF;
      }
    
    .text-wrapper {
    max-width: 80%;
    margin-top: 50px;
    font-size: 1rem;
    color: #FFF;
  }

    .container-fluid-why {
      padding: 20px; /* Adjust the padding for smaller screens */
    }
  
    .container-fluid-why h2 {
      font-size: 1.9rem; /* Adjust the font size for smaller screens */
    }
  
    .container-fluid-why p {
      width: 100%; /* Full width for smaller screens */
    }

    .text-left p{
        padding: 20px;
    }

    .container-fluid .img-fluid {
        width: auto;
        height: auto;
        flex-shrink: 0;
        border-radius: 2.3125rem ;
    
      }
    
  }