@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;700;800&display=swap');

       
body {
    margin: 0;
    padding: 0;
   background: #899878;
   overflow-x: hidden;

}


.navbar {
    background: rgba(217, 217, 217, 0.15);
    opacity: 10px;
    backdrop-filter: blur(17.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
}

.SenseliveLogo1 {
    padding-left: 10px;
    width: 85px;
    height: 60px;
}

.Rectangle11 {
    height: 2px;
    background: rgba(125, 125, 125, 0.15);
    margin-top: 15px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.nav-link {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.Rectangle1 {
    width: auto;
    min-width: 150px;
    height: 40px;
    background: #F58F51;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.RequestADemo {
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px 0;
}

.nav-link:hover .dropdown-menu {
    display: flex;
    color: #F58F51;
}



/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    flex-direction: column;
    fill: rgba(255, 246, 246, 0.15);
    backdrop-filter: blur(26.5px);
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    padding: 10px;
}

.dropdown-menu .nav-link {
    margin: 10px 0;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.dropdown-menu .nav-link1 {
    margin: 10px 0;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.dropdown-menu .nav-link2 {
    margin: 10px 0;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
}


/* Hamburger Icon for Mobile View */
.navbar-toggler {
    display: none;
    flex-direction: column;
    margin-right: 15px;
    cursor: pointer;
    order: 2; /* Change order to 2 to position on the right */
}

/* Add this style for the Solutions mobile dropdown */
#solutionsDropdown {
    position: absolute;
    left: 20%; /* Adjust as needed */
    height: auto;
    width: 28rem;
    background: rgba(66, 66, 66, 0.97);
    border-radius: 1.875rem;
    backdrop-filter: blur(30px);
    z-index: 2;
}

/* Adjust the position of the dropdown links */
#solutionsDropdown .nav-link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

#solutionsDropdown .solution-heading {
    padding-top: 10px;
    padding: 5px;
    color: #F58F51;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#solutionsDropdown .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Add this style for the Platform mobile dropdown */
#platformDropdown {
    position: absolute;
    left: 20%; /* Adjust as needed */
    height: auto; /* Adjust height as needed */
    width: 35rem;
    background: rgba(66, 66, 66, 0.97);
    border-radius: 1.875rem;
    backdrop-filter: blur(29.149999618530273px);
    z-index: inherit;

    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

/* Style for the main heading */
.platform-heading {
    padding-top: 10px;
    padding: 5px;
    color: #F58F51;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Ensure both columns start from the same height */
#platformDropdown .platform-columninternal {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%; /* Make sure the columns take 100% width */
}

/* Ensure both columns start from the same height */
#platformDropdown .platform-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; /* Make sure the columns take 100% width */
}

#platformDropdown .nav-link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
    width: 100%; /* Adjust the width as needed */
    box-sizing: border-box;
}

#platformDropdown .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Add this style for the Customers mobile dropdown */
#customersDropdown {
    position: absolute;
    left: 40%; /* Adjust as needed */
    height: auto;
    width: 15rem;
    background: rgba(66, 66, 66, 0.97);
    border-radius: 1.875rem;
    backdrop-filter: blur(29.149999618530273px);
    z-index: inherit;
}

/* Adjust the position of the dropdown links */
#customersDropdown .nav-link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

#customersDropdown .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Add this style for the Resources mobile dropdown */
#resourcesDropdown {
    position: absolute;
    left: 50%; /* Adjust as needed */
    height: auto;
    width: 14rem;
    background: rgba(66, 66, 66, 0.97);
    border-radius: 1.875rem;
    backdrop-filter: blur(29.149999618530273px);
    z-index: inherit;
}

/* Adjust the position of the dropdown links */
#resourcesDropdown .nav-link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

#resourcesDropdown .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Add this style for the About mobile dropdown */
#aboutDropdown {
    position: absolute;
    left: 60%; /* Adjust as needed */
    height: auto;
    width: 10rem;
    background: rgba(66, 66, 66, 0.97);
    border-radius: 20px;
    backdrop-filter: none;
}

/* Adjust the position of the dropdown links */
#aboutDropdown .nav-link {
    padding: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

#aboutDropdown .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}


.platform-dropdown-container {
    display: flex;
    justify-content: space-between;
}

.platform-column {
    flex: 1;
    margin-right: 10px; /* Add margin between columns if needed */
}


/* Media Queries for Mobile View */
@media (max-width: 960px) {
    .nav-links {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }
    

    /* Center the dropdown items in the middle */
    .dropdown-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        z-index: 1; /* Ensure the dropdown is above other elements */
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        align-items: left;
        padding-left: 20px;
        position: absolute;
        top: 80px;
        width: 100%;
        height: auto;
        background-color:  rgba(37,37,37, 0.97);
        backdrop-filter: blur(100%);
        padding: 10px;
        z-index: 1; /* Ensure the dropdown is above other elements */
    }

    /* Show desktop-only button only on desktop */
    .desktop-only {
        display: none;
    }

     /* Add this style for the Solutions mobile dropdown */
     #solutionsDropdownmobile {
        position: static; /* Change to static */
        height: auto;
        width: 100%;
        align-items: start;
        background: rgba(125, 125, 125, 0.25);
    }

    /* Style for the main heading */
    #solutionsDropdownmobile .solution-heading1 {
        color: #F58F51;
        font-family: Poppins;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #solutionsDropdownmobile .nav-link {
        color: #fff;
        text-decoration: none;
        display: block;
        transition: background 0.3s;
        text-align: left; /* Align text to the left */
        padding: 5px 10px; /* Add padding for better readability */
    }

    #solutionsDropdownmobile .nav-link:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    /* Add this style for the Platform mobile dropdown */
    #platformDropdownmobile {
        position: static; /* Change to static */
        height: auto;
        width: 100%;
        background: rgba(125, 125, 125, 0.25);
    }

    /* Style for the main heading */
    .platform-heading1 {
        padding-top: 10px;
        color: #F58F51;
        font-family: Poppins;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /* Ensure both columns start from the same height */
    #platformDropdownmobile .platform-columninternal {
        display: flex;
        flex-wrap: wrap; /* Allow columns to wrap to the next line */
        justify-content: space-between;
    }

    #platformDropdownmobile .platform-column {
        flex: 1;
        width: 48%; /* Adjust the width as needed, leave some gap between columns */
        margin-bottom: 10px; /* Add margin between columns */
    }

    #platformDropdownmobile .nav-link {
        color: #fff;
        text-decoration: none;
        display: block;
        transition: background 0.3s;
        text-align: left; /* Align text to the left */
        padding: 5px 10px; /* Add padding for better readability */
    }

    #platformDropdownmobile .nav-link:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    /* Add this style for the Customers mobile dropdown */
    #customersDropdownmobile {
        position: static; /* Change to static */
        height: auto;
        width: 100%;
        align-items: start;
        background: rgba(125, 125, 125, 0.25);
    }

    /* Adjust the position of the dropdown links */
    #customersDropdownmobile .nav-link {
        color: #fff;
        text-decoration: none;
        display: block;
        transition: background 0.3s;
        text-align: left; /* Align text to the left */
        padding: 5px 10px; /* Add padding for better readability */
    }

    #customersDropdownmobile .nav-link:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    /* Add this style for the Resources mobile dropdown */
    #resourcesDropdownmobile {
        position: static; /* Change to static */
        height: auto;
        width: 100%;
        align-items: start;
        background: rgba(125, 125, 125, 0.25);
    }

    /* Adjust the position of the dropdown links */
    #resourcesDropdownmobile .nav-link {
        color: #fff;
        text-decoration: none;
        display: block;
        transition: background 0.3s;
        text-align: left; /* Align text to the left */
        padding: 5px 10px; /* Add padding for better readability */
    }

    #resourcesDropdownmobile .nav-link:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    /* Add this style for the About mobile dropdown */
    #aboutDropdownmobile {
        position: static; /* Change to static */
        height: auto;
        width: 100%;
        align-items: start;
        background: rgba(125, 125, 125, 0.25);
    }

    /* Adjust the position of the dropdown links */
    #aboutDropdownmobile .nav-link {
        color: #fff;
        text-decoration: none;
        display: block;
        transition: background 0.3s;
        text-align: left; /* Align text to the left */
        padding: 5px 10px; /* Add padding for better readability */
    }

    #aboutDropdownmobile .nav-link:hover {
        background: rgba(255, 255, 255, 0.1);
    }


    .Rectangle2 {
    width: 30%;
    height: 40px;
    background: #F58F51;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
}
        .hero-section {
            background: url('../images/main.png') center/cover no-repeat;
            padding: 130px 0;
            text-align: center;
            
        }

        .hero-section .container img {
            width: 920;
        }

       h1 { 
            color: #FFFEEA;
            font-family: Poppins;
            font-size: 4rem;
            font-weight: 700;
        }

       .text { 
            color: #D9D9D9;
            text-align: center;
            font-family: Poppins;
            font-size: 1.5rem;
            font-weight: 400;
            width: 1000px;
            position: relative;
            left: 10%;
        }

        .hero-image {
            width: 100%;
            height: auto;
            
        }

        .key {
            position: relative;
            left: 3%;
        }

        .key .container h2 { 
            color: #000;
            font-family: Poppins;
            font-size: 2.5rem;
            font-weight: 600;
        }

        .key .container p { 
            color: #FFF;
            text-align: justify;
            font-family: Poppins;
            font-size: 1.2rem;
            font-weight: 600;
            width: 600px;
        }

        .card { 
            width: 300px;
            height: 280px;
            flex-shrink: 0;
            border-radius: 30px;
            background: linear-gradient(180deg, #000 3.74%, #4A4A4A 100%);
            position: relative;
            left: 40%;
        }

        h3 { 
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 32px;
            font-weight: 800;            
        }
        .card .card-body .text1 { 
            color: #FFF;
            text-align: justify;
            font-family: Poppins;
            font-size: 0.8rem;
            font-weight: 300;
        }

        .card .card-body .btn1 { 
            border-radius: 10px;
            background: #F58F51; 
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 10px 12px;
            position: relative;
            top: 20%;   
            left: 10%;
            border: none;
        }

        .card .card-body .btn2 { 
            border-radius: 10px;
            background: #F58F51; 
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 10px 12px;
            position: relative;
            top: 20%;   
            left: 22%;
            border: none;
        }

        .card .card-body .btn3 { 
            border-radius: 10px;
            background: #F58F51; 
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 10px 12px;
            position: relative;
            top: 20%;   
            left: 25%;
            border: none;
        }


        .container h4 { 
            color: #FFF;
            font-family: Poppins;
            font-size: 3rem;
            font-weight: 900;
        }

        .container .txt { 
            color: #000;
            text-align: justify;
            font-family: Poppins;
            font-size: 1.2rem;
            font-weight: 500;
        }

        .container .btn { 
            border-radius: 20px;
            background: #F58F51; 
            color: #000;
            font-family: Poppins;
            font-size: 1.2rem;
            font-weight: 500;
            width: fit-content;
        }

        
        @media only screen and (max-width: 575px) {
            h1 {
                font-size: 2.5rem;
            }

            .text {
                font-size: 1rem;
                width: 300px;
                text-align: justify;
            }

            .key {
                position: relative;
                left: 3%;
                margin-top: 10%;
            }
            .key .container h2 {
                font-size: 1.7rem;
            }
            .key .container p {
                font-size: 1rem;
                width: 300px;
            }
            .card {
                position: relative;
                left: 5%;
            }

            .hero-image {
                width: fit-content;
                height: auto;
                
            }
            
            .container .btn { 
                position: relative;
                left: 25%;
            }

            .container h4 { 
                font-size: 2rem;
            }

            .container .txt {
                font-size: 1rem ;
            }
        }


        @media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {

            .text { 
                width: fit-content;
                position: relative;
                left: -2%;
            }

            .key .container h2 {
                font-size: 3rem;
            }

            .card {
                position: relative;
                left: 12%;
            }

            .container .txt { 
                width: 390px;
            }

        }
       


