@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  background: #899878;
  overflow-x: hidden;
  
}

.navbar {
  position: relative;
  z-index: 1000; /* Set a high z-index for the navbar */
}

  /* Landing Page Styles */
.background {
    background: url('../images/customer.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* Text color on top of the background image */
  }
  
  .text-header {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFF;
  }
  
  .text-wrapper {
    max-width: 80%;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #FFF;
  }

  .btn-customer-request {
    background-color: #F58F51;
    width: 15rem;
    height: 3rem;
    color: #fff;
    border-radius: 2rem;
    text-decoration-line: none;
  }

  .btn-customer {
    background-color: #F58F51;
    width: 15rem;
    height: 3rem;
    color: #fff;
    border-radius: 2rem;
    line-height: 2.6rem; /* Set the line-height equal to the button height */
    display: inline-block;
    text-decoration-line: none;
  }

  .btn-customers {
    background-color: #F58F51;
    width: 15rem;
    height: 3rem;
    color: #fff;
    border-radius: 2rem;
    text-decoration-line: none;
    position: absolute;
    bottom: -5px;
    line-height: 2rem; /* Set the line-height equal to the button height */
   display: inline-block;
  }

  .container{
    padding: 2% 5%;
  }

  .text-header1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
  }

  .text-wrapper1 {
    max-width: 80%;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #FFF;
  }

  .container-fluid{
    padding: 0% 10%;
    align-items: center;
  }

  .row{
    margin: 0px;
    margin-top: 80px;;
    justify-content: center;
  }
  
  /* Custom styling for the customer testimonials section */
.customer-card {
    width: 100%;
    height: 25%;
    flex-shrink: 0;
    border-radius: 6.875rem;
    background: linear-gradient(180deg, #000 0%, #343333 100%);
}

.customer-card img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    flex-shrink: 0; /* Adjust the size of the circular image */
    object-fit:contain;
}

.customer-card .text {
    width: 90%;
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal; /* Adjust the space between image and text */
}


.container-fluid-card{
    padding: 5% 10%;
    margin-top: 10%;
  }

  .container-fluid-card .row{
     justify-content: space-evenly;
  }

.customer-card-fluid {
    justify-content: center;
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 5rem;
    background: linear-gradient(180deg, #000 0%, #343333 100%);
}

.customer-card-fluid img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    flex-shrink: 0; /* Adjust the size of the circular image */
    object-fit:contain;
}

.customer-card-fluid .img-fluid {
    justify-content: center;
}

.customer-card-fluid .text {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal; /* Adjust the space between image and text */
}

.customer-card-fluid h3 {
    width: auto;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; /* Adjust the space between image and text */
}

.card2 {
    position: relative;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    margin: 20px;
    border-radius: 20px;
    transition: filter 0.3s ease-in-out;
    backdrop-filter: blur(50px); 
    background: linear-gradient(180deg, #000 3.74%, #4A4A4A 100%);
  }

  .card-text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    padding-bottom: 10px;
    line-height: normal;
  }

  .img-fluid1{
    width: 22rem;
    height: 12rem;
    flex-shrink: 0;
    border-radius: 2.0625rem;
  }

  
  h1{
    text-align: center;
    color: #000000;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal; 
    font-weight: 600;
    line-height: 150.248%; /* 9.01488rem */
  }



.text-uppercase{
    color: #F58F51;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .list-un{
    color: #F58F51;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .list-unstyle{
    color: #F58F51;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .a{
    color: #F58F51;
  }
  .text-center{
    color: #F58F51;
  }

.container-fluid-footer{
    background: #000;
  }


  @media (max-width: 1100px) {
    .background{
      height: auto;
    }

  }

/* Optional: Add media query for responsiveness */
@media (max-width: 768px) {

  .background{
    height: auto;
  }
    .text-header{
        margin-top: 9%;
        font-size: 2rem;
    }

    .text-wrapper{
        max-width: 90%;
        margin-top: 13px;
        font-size: 0.8rem;
        color: #FFF;
    }

    .btn-customer-request{
        height: 30%;
        width: 64%;
        font-size: 0.6rem;
    }

    .container{
      padding: 2% 22%;
    }
  

    .btn-customers{
        height: 2rem;
        width: 45%;
        line-height: 1rem; /* Set the line-height equal to the button height */
        display: inline-block;
        font-size: 0.6rem;

    }

    .btn-customer {
      height: 2rem;
      width: 31%;
      font-size: 0.6rem;
      line-height: 2rem; /* Set the line-height equal to the button height */
      display: inline-block; /* Ensures that line-height works as expected */
    }
    

    .text-header1{
        font-size: 1.5rem;
        font-weight: bold;
        color: #FFF;
    }

    .btn-customer-request {
      height: 30%;
      width: 64%;
      font-size: 0.6rem;
  }

    .text-wrapper1 {
      max-width: 80%;
      margin-top: 20px;
      font-size: 0.6rem;
      color: #FFF;
  }

    .customer-card {
        flex-direction: column; /* Stack cards vertically on small screens */
    }

    

    .customer-card .col-md-3 {
            width: 60%;
            margin-bottom: 20px; /* Adjust spacing between cards */
        }

    .container-fluid {
        padding: 0% 5%;
    }

    .container-fluid-card {
        padding: 5% 5%;
        margin-top: 50%;
    }

    h1 {
        font-size: 2rem;
    }

    .customer-card {
        flex-direction: row;
        width: 100%;
        height: 25%;
        flex-shrink: 0;
        border-radius: 2rem;
        background: linear-gradient(180deg, #000 0%, #343333 100%);
    }

    .customer-card .text {
        width: 100%;
        color: #FFF;
        text-align: justify;
        font-family: Poppins;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 100;
        line-height: normal; /* Adjust the space between image and text */
    }
    
    
    .customer-card-fluid {
        height: 20%;
        width: 93%;
        margin-bottom: 20px;
        border-radius: 2rem;
    }

    .customer-card img{
        margin-bottom: -30px;
        width:10rem;
        height: 10rem;
    }
    .customer-card-fluid img {
        width: 75%;
        height: 10rem;
    }

   .img-fluid1{
    width: 100%;
   }

   .card2{
    width: 83%;
    height: auto;
   }   
}



/* footer */

body {
	font-family: 'Poppins', sans-serif;	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.footer1 {
	background: black;
	padding: 70px 0;
	position: relative;
	line-height: 1.5;
}

.container2 {
	max-width: 1170px;
	margin: auto;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 30px;
	color: #F58F51;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #F58F51;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}

.footer-col ul li {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 22px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #F58F51;
	display: block;
	transition: all 0.3s ease;

}

.footer-col ul li a:hover {
	color: white;
	padding-left: 5px;
}

.footer-col p {
	color: #F58F51;
	font-size: 16px;
}

.follow .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.follow .social-links a:hover {
	color: #24262b;
	background-color: white;
}

.last {
	color: #F58F51;
	padding-top: 1%;
	width: 100%;
	text-align: center;	
	position: absolute;
	bottom: 0;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

