@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  background: black;
	font-family: 'Poppins', sans-serif;
}

.landing-page {
  background: url('../images/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.card-1 {
  margin-top: 10%;
  max-width: 450px;
  backdrop-filter: blur(50px);
  background: rgba(255, 246, 246, 0.15);
  border-radius: 0.7em;
}

.card-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #FFF;
  text-align: justify;
  font-weight: 700;
}

.btn {
  background-color: #F58F51;
  border-radius: 0.5rem;
  color: black;
  font-weight: 700;
}

.connecting{
  text-align: justify;
}
.aboutSenseLive{
  text-align: just;
}
.card1 {
  position: relative;
  width: 300px;
  height: 230px;
  margin: 20px;
  border-radius: 20px;
  transition: filter 0.3s ease-in-out;
  backdrop-filter: blur(50px);
  background: rgba(255, 246, 246, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.Energy {
  text-align: center;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 800;
}

.svg-container {
  padding-top: 25%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card1:hover .svg-container {
  opacity: 1;
}

.text-container {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 800;
}

.flex-container {
  width: 70%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-flow: wrap;
  justify-content: center;
  gap: 2em
}

.card-2 {
  /* background: linear-gradient(180deg, #000 3.74%, #4A4A4A 100%); */
  background: black;
  min-height: auto;

}

.card-title2 {
  padding-top: 35px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card-body2 {
  padding: 1rem;
}

.card-text2 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-3 {
  background-color: black;
}


<<<<<<< HEAD
/* Small screens (phones) */
@media only screen and (max-width: 600px) {
  .landing-page .card {
    margin-top: 60%;
    max-width: 300px;
=======

footer{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container2{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 70px 0;
    position: relative;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 30px;
	color: #F58F51;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #F58F51;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li{
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 22px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #F58F51;
	display: block;
	transition: all 0.3s ease;
	
}
.footer-col ul li a:hover{
	color: white;
	padding-left: 5px;
}
.footer-col p{
    color: #F58F51;
    font-size: 16px;
}
.follow .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease; 
}
.follow .social-links a:hover{
	color: #24262b;
	background-color: white;
}
.last {
    color: #F58F51;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*responsive*/
@media(max-width: 767px)
{
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



@media only screen and (max-width: 576px) {
  .whatsets .h1 {
    font-size: 2rem;
>>>>>>> ddff297edcbdb720b7a90354c1d9a99fd8455a6b
  }

  img {
    max-width: 90%;
  }

  .container-fluid-1 {
    padding-right: 50px;
  }

  .container-fluid-1 .right-part {
    padding-left: 30px;
    padding-top: 30px;
  }

  .container-fluid-1 .left-part {
<<<<<<< HEAD
    padding-left: 30px ;
  }
body {
  overflow-x: hidden;
}

.container-fluid-aboutus .img-fluid {
  padding-right: 20px;
}

.container-fluid-aboutus .text-left p {
width: 350px;
}

.container .card2 {
  width: 300px;
}


}




/* Medium screens (tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding-left: 150px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
  .container1 {
    position: relative;
    right: 3%;
  }
  .container {
    position: relative;
    left: 4%;
  }
}


/* Large screens (desktops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  
}

/* Extra large screens (large desktops) */
@media only screen and (min-width: 993px) {
  
}

/* Landscape mode for small screens */
@media only screen and (max-width: 576px) and (aspect-ratio: 16/9) {
  .landing-page .card {
    margin-top: 10%;
    max-width: 300px;
=======
    padding-left: 30px;
>>>>>>> ddff297edcbdb720b7a90354c1d9a99fd8455a6b
  }

  body {
    overflow-x: hidden;
  }
}