@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;700;800&display=swap');
body{
    background-color:#899878;
    width: 100%;
    margin-bottom: 50px ;
}
.mainhead{
    color: #FFFEEA;
text-align: center;
font-family: Poppins;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -80px;
}

.content{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn{
    border-radius: 21px;
background: #F58F51;
text-transform: none;
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}
.heading1{
    color: #000;
font-family: Poppins;
font-size:48px;
font-style: normal;
font-weight: 700;
line-height: normal;
justify-content:center ;
margin-top: 2%;
margin-bottom: 2%;

}
.up{
    border-radius: 61px;
    background: linear-gradient(180deg, #000 4.66%, #4A4A4A 81.95%);
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    justify-content:center;
    height: 30%;
    width: 25%;
    margin-left:37%;
    
}
.main-heading{
    color: #FFFEEA;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 10%;
}
.sub-heading{
    color: #FFF;
text-align: justify;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.card{
    background: linear-gradient(180deg, #000 4.66%, #4A4A4A 81.95%); 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.card-img-top{
    width:30%;
    position: relative;
}
.card-img{
    border-radius:31px;
}
.card-text{
    color: #F58F51;
text-align: justify;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.end{
    display:block;
    margin-top: auto;
    text-align: center;
     padding: 10px 20px;  
    border-radius: 14px;
    background: #F58F51;
    border: none; 
}


@media (max-width: 768px) {
    .carousel-inner {
      max-width: 100%; /* Make the carousel fill the entire width */
    }

    .carousel-item {
      text-align: center; /* Center text in smaller screens */
    }

    .card.up {
      margin: 0 auto;
      width: 90%; 
      height:70%;
    }
    .btn{
        font-size: 15px;
    }
    /* .btn.end:hover{
        background-color: inherit;
        color: inherit;
    } */
    .heading1{
        font-size:28px;
    }
}

body {
	font-family: 'Poppins', sans-serif;	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.footer1 {
	background: black;
	padding: 70px 0;
	position: relative;
	line-height: 1.5;
}

.container2 {
	max-width: 1170px;
	margin: auto;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 30px;
	color: #F58F51;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #F58F51;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}

.footer-col ul li {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 22px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #F58F51;
	display: block;
	transition: all 0.3s ease;

}

.footer-col ul li a:hover {
	color: white;
	padding-left: 5px;
}

.footer-col p {
	color: #F58F51;
	font-size: 16px;
}

.follow .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.follow .social-links a:hover {
	color: #24262b;
	background-color: white;
}

.last {
	color: #F58F51;
	padding-top: 1%;
	width: 100%;
	text-align: center;	
	position: absolute;
	bottom: 0;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
