@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;700;800&display=swap');
.outer{
   background-color:#899878;
   width: 100%;
   margin: 0 auto;
}
.container-fluid{
    justify-content: space-between;
}
.mainhead{
    color: #FFFEEA;
text-align: center;
font-family: Poppins;
font-size: 70px;
font-weight: 600;
}
h1{
    padding: 10px;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -80px;
}
.content{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 28px;
font-weight: 40;
}
.btn{
    border-radius: 21px;
background: #F58F51;
text-transform: none;
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-weight: 600;;
border: none;
}
.heading1{
    color: #000;
font-family: Poppins;
font-size: 60px;
font-weight:500;
width:fit-content;
margin-top: 3%;
padding-left: 2%;
}

.card{
    border-radius: 61px;
background: linear-gradient(223deg, #000 4.66%, #4A4A4A 81.95%);
}
.main-heading{
    color: #FFFEEA;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
height: 50px;
margin-top: 15px;
margin-bottom: 15px;
}
.sub-heading{
    color: #FFF;
text-align: justify;
font-family: Poppins;
font-size: 15px;
font-weight: 50;
}
.img-fluid{
border-radius: 61px;
width: 100%;
height:auto;
}
.endtext{
    color: #FFF;
text-align: justify;
font-family: Poppins;
font-size: 20px;
font-weight: 600;;
}
.title{
    color: #FFF;
text-align: justify;
font-family: Poppins;
font-size: 15px;
font-weight: 50;
}

body {
	font-family: 'Poppins', sans-serif;	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.footer1 {
	background: black;
	padding: 70px 0;
	position: relative;
	line-height: 1.5;
}

.container2 {
	max-width: 1170px;
	margin: auto;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 30px;
	color: #F58F51;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #F58F51;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}

.footer-col ul li {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 22px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #F58F51;
	display: block;
	transition: all 0.3s ease;

}

.footer-col ul li a:hover {
	color: white;
	padding-left: 5px;
}

.footer-col p {
	color: #F58F51;
	font-size: 16px;
}

.follow .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.follow .social-links a:hover {
	color: #24262b;
	background-color: white;
}

.last {
	color: #F58F51;
	padding-top: 1%;
	width: 100%;
	text-align: center;	
	position: absolute;
	bottom: 0;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}




/* Responsiveness */
@media only screen and (max-width: 576px) {
    /* Small screens */
    .outer{
        width:100%;
    }

    .mainhead {
        font-size: 48px;
        font-weight:700;
    }
    .content{
        font-size: 20px;
        font-weight: 400;
    }
    .btn{
        font-size: 10px;
        font-weight: 600;
    }
    .heading1{
        font-size: 25px;
        font-weight:500;
        position: relative;
        left: 5%;
    }
    .card{
        border-radius: 20px;
    }
    .main-heading{
        font-size: 15px;
        font-weight: 600;
        margin-top:5px;
        margin-bottom: 0%;
    }
    .sub-heading{
        font-size: 8px;
        font-weight: 500;
    }
    .img-fluid{
        border-radius: 20px;
        width: 300px;
        height:200px;
    }
    .endtext{
        font-size: 10px;
        font-weight:600;
    }
    .title{
        font-size: 5px;
        font-weight:500;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    /* Medium screens */
    /* header{
    
    } */
    .outer{
        width:100%;
    }
    .mainhead {
        font-size: 64px;
        font-weight: 700;
    }
    .content{
        font-size: 25px;
        font-weight: 400;
    }
    .btn{
        font-size: 15px;
        font-weight: 600;
    }
    .heading1{
        font-size: 40px;
        font-weight:500;
        position: relative;
        left: 2%;
    }
    .card{
        border-radius: 40px;
    }
    .main-heading{
        font-size: 25px;
        font-weight: 600;
    }
    .sub-heading{
        font-size: 15px;
        font-weight:500;
    }
    .img-fluid{
        border-radius: 30px;
        width: 400px;
        height:300px;
    }
    .endtext{
        font-size: 15px;
        font-weight: 600;
    }
    .title{
        font-size: 12px;
        font-weight: 500;
    }
    .footer-col{
        width: 100%;
    }
    
}



